<div class="education-container container-block">
    <h2 class="container-block-title">Formation</h2>
    <div class="item">
        <h4 class="degree">7 Ingénieur Informatique, Monétique et Sécurité des Systèmes</h4>
        <h5 class="meta">Ecole Nationale Supérieure d'Ingénieurs de Caen</h5>
        <div class="time">2009 - 2012</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">BTS Electronique</h4>
        <h5 class="meta">Lycée Jean Jaures</h5>
        <div class="time">2007 - 2009</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Bac Scientifique</h4>
        <h5 class="meta">Lycée Jean Jaures</h5>
        <div class="time">2005 - 2007</div>
    </div><!--//item-->
</div><!--//education-container-->



