<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Expériences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Ingénieur Monétique chargé de développement</h3>
                <div class="time">2012 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">PAYBOX Systems, Guyancourt</div>
        </div><!--//meta-->
        <div class="details">

            <p>Spécifications techniques d’applications monétiques accepteur/acquéreur (Proximité, Vente A Distance).</p>
            <p>Développement sur terminaux de paiement éléctronique (SAGEM, GEMALTO, ATOS, VERIFONE).</p>
            <p>Développement et intégration de protocoles monétiques d'autorisation et télécollecte pour le canal vente à distance (cb2a, ...) sur environement GNU/Linux.</p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Apprenti ingénieur R&D</h3>
                <div class="time">2009 - 2012</div>
            </div><!--//upper-row-->
            <div class="company">PAYBOX Systems, Guyancourt</div>
        </div><!--//meta-->
        <div class="details">


            <p>Spécifications techniques d’applications monétiques non bancaires (Fidelité, Ticketing, ...).</p>
            <p>Développement sur terminaux de paiement éléctronique SAGEM, GEMALTO, ATOS, VERIFONE</p>
            <p>Développement de Web-Services C++, JAVA et PHP.</p>
            <p>Développement d’applications web (PHP, Javascript, Flex).</p>


        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">UI Developer</h3>
                <div class="time">2012 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">Amazon, London</div>
        </div><!--//meta-->
        <div class="details">
            <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
